<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheMovieCritique.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21B7F5481E797A84007C49C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21B7F55C1E797A85007C49C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21B7F5671E797A85007C49C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
